body {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif,
                 'Open Sans', sans-serif;
}

:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: #00000029;
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --font-headers: 'Raleway', sans-serif;
    --font-paragraphs: 'Open Sans', sans-serif;
    --radius-big-btn: 40px;
    --radius-medium-btn: 35px;
    --radius-small-btn: 23px;
}

a {
    text-decoration: none;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

header {
    width: 100vw;
    height: 100vh;
}

h1 {
    font-family: var(--font-headers);
    font-size: 49px;
    font-weight: 400;
    color: var(--color-black);
    text-transform: capitalize;
    padding-top: 110px;
}

h2 {
    font-family: var(--font-headers);
    font-size: 36px;
    font-weight: 400;
    color: var(--color-black);
}

p {
    font-family: var(--font-paragraphs);
    font-size: 16px;
    font-weight: 400;
    color: var(--color-black);
}


/* styles Section Navigaton */


.top-menu {
    height: 70px;
    box-shadow: 0px 3px 6px var(--color-primary-shadow);
}

.top-menu .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

a.logo {
    font-family: var(--font-headers);
    font-size: 32px;
    font-weight: 300;
    color: var(--color-primary);
}

.top-menu ul {
    display: flex;
    align-items: flex-end;
}
.nav-link {
    font-family: var(--font-paragraphs);
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 3.28px;
    color: var(--color-grey);
    padding: 28px 18px 22px;
    border-bottom: 2px solid transparent;
    text-transform: uppercase;
}

.nav-link:hover {
    cursor: none;
    color: var(--color-black);
    border-color: var(--color-primary);
}


/* styles Section Opening  */


.opening-section {
    height: calc(100vh - 70px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: url("../assets/Background.png") no-repeat;
    background-position: bottom;
    background-size: contain;
}

.opening-section button a {
  color:var(--color-white);
}

.opening-section button {
    width: 440px;
    height: 67px;
    background: var(--color-primary);
    border-radius: var(--radius-big-btn);
    margin-top: 38px;
    box-shadow: 5px 10px 14px #07ACE629;
}

.opening-section button::first-letter {
    text-transform: capitalize;
}


 /* styles Section Statistics  */


 .statistics .container {
    min-height: 500px;
}

.statistics-small-header {
    margin-top: 100px;
    text-align: center;
}

.statistics-info {
    display: flex;
    justify-content:space-between;
    margin: 100px auto;
    max-width: 800px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--font-paragraphs);
    text-align: center;
    max-width: 160px;
}

.statistics-number {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 5.96px;
    margin-top: 14px;
}

.statistics-text {
    font-size: 17px;
    color: var(--color-grey);
    margin-top: 19px;
}

.icon {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    position: relative;
}

.statistics-img {
    position: absolute;
}

.circle1 {
    background-color: var(--color-redish);
}

.circle1 .statistics-img {
    top: 0px;
    left: 45%;
}

.circle2 {
    background-color: var(--color-primary);
}

.circle2 .statistics-img {
    top: 10px;
    left: 45%;
}

.circle3 {
    background-color: var(--color-green);
}
 
.circle3 .statistics-img {
    top: 7px;
    left: 50%;
}

.benefits {
    background: var(--color-light-grey);
    padding: 100px 0;
}

.benefit {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: var(--color-white);
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    margin: 37px auto;
}

.benefit-info {
    margin: 90px 35px;
    max-width: 415px;
}

.benefit-info::after {
    content: "";
    width: 332px;
    height: 4px;
    display: block;
    margin-top: 50px;
}

.benefit1 .benefit-info::after {
    background-color: var(--color-redish);
}

.benefit-info p {
    margin-top: 30px;
    line-height: 22px;
}

.benefit-pic {
    position: relative;
}

.benefit-pic img {
    position: relative;
    z-index: 2;
}

.pic1 {
    margin-right: 117px;
    margin-bottom: 38px;
}

.pic1::before {
    content: "";
    width: 180px;
    height: 180px;
    background-color: var(--color-redish);
    position: absolute;
    display: block;
    border-radius: 40px;
    top: -40px;
    right: 0;
    transform: rotate(45deg);
}

.pic1 img {
    width: 386px;
    height: auto;
}

.benefit2 {
    flex-direction: row-reverse;
    padding: 0 20px 0 70px;
}
 
.pic2::before {
    content: "";
    width: 320px;
    height: 320px;
    background: var(--color-primary);
    position: absolute;
    display: block;
    border-radius: 50%;
    top: -20px;
    left: 0;
}

.pic2 img {
    width: 426px;
    height: auto;
}

.benefit2 .benefit-info::after {
    background-color: var(--color-primary);
}

.benefit3-and-4 {
    display: flex;
    margin-bottom: 0;
}

.benefit3 {
    width: 623px;
}

.benefit3 .benefit-info {
    margin: 70px 35px;
}

.benefit-pic3 {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-green);
    margin: 37px 0 37px 60px;
}

.benefit-pic3 img {
    width: 295px;
    height: auto;
    margin-top: 55px;
}

.benefit3 .benefit-info::after {
    background-color: var(--color-green);
}

