body {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif,
                 'Open Sans', sans-serif;
}

:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: #00000029;
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --font-headers: 'Raleway', sans-serif;
    --font-paragraphs: 'Open Sans', sans-serif;
    --radius-big-btn: 40px;
    --radius-medium-btn: 35px;
    --radius-small-btn: 23px;
}

a {
    text-decoration: none;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

header {
    width: 100vw;
    height: 100vh;
}

h1 {
    font-family: var(--font-headers);
    font-size: 49px;
    font-weight: 400;
    color: var(--color-black);
}

h2 {
    font-family: var(--font-headers);
    font-size: 36px;
    font-weight: 400;
    color: var(--color-black);
}

p {
    font-family: var(--font-paragraphs);
    font-size: 16px;
    font-weight: 400;
    color: var(--color-black);
}


/* styles Section Navigaton */


.top-menu {
    height: 70px;
    box-shadow: 0px 3px 6px var(--color-primary-shadow);
}

.top-menu .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

a.logo {
    font-family: var(--font-headers);
    font-size: 32px;
    font-weight: 300;
    color: var(--color-primary);
}

.top-menu ul {
    display: flex;
    align-items: flex-end;
}
.nav-link {
    font-family: var(--font-paragraphs);
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 3.28px;
    color: var(--color-grey);
    padding: 28px 18px 22px;
    border-bottom: 2px solid transparent;
    text-transform: uppercase;
}

.nav-link:hover {
    cursor: none;
    color: var(--color-black);
    border-color: var(--color-primary);
}


/* styles Section Opening  */

.opening-section h1 {
    text-transform: capitalize;
    padding-top: 110px;
}


.opening-section {
    height: calc(100vh - 70px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: url("../assets/Background.png") no-repeat;
    background-position: bottom;
    background-size: contain;
}

.opening-section button a {
  color:var(--color-white);
}

.opening-section button {
    width: 440px;
    height: 67px;
    background: var(--color-primary);
    border-radius: var(--radius-big-btn);
    margin-top: 38px;
    box-shadow: 5px 10px 14px #07ACE629;
}

.opening-section button::first-letter {
    text-transform: capitalize;
}


 /* styles Section Statistics  */


 .statistics .container {
    min-height: 500px;
}

.statistics-small-header {
    margin-top: 100px;
    text-align: center;
}

.statistics-info {
    display: flex;
    justify-content:space-between;
    margin: 100px auto;
    max-width: 800px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--font-paragraphs);
    text-align: center;
    max-width: 160px;
}

.statistics-number {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 5.96px;
    margin-top: 14px;
}

.statistics-text {
    font-size: 17px;
    color: var(--color-grey);
    margin-top: 19px;
}

.icon {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    position: relative;
}

.statistics-img {
    position: absolute;
}

.circle1 {
    background-color: var(--color-redish);
}

.circle1 .statistics-img {
    top: 0px;
    left: 45%;
}

.circle2 {
    background-color: var(--color-primary);
}

.circle2 .statistics-img {
    top: 10px;
    left: 45%;
}

.circle3 {
    background-color: var(--color-green);
}
 
.circle3 .statistics-img {
    top: 7px;
    left: 50%;
}


/* styles Section Benefits */

.benefits {
    background: var(--color-light-grey);
    padding: 100px 0;
}

.benefit {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: var(--color-white);
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    margin: 37px auto;
}

.benefit-info {
    margin: 90px 35px;
    max-width: 415px;
}

.benefit-info::after {
    content: "";
    width: 332px;
    height: 4px;
    display: block;
    margin-top: 50px;
}

.benefit1 .benefit-info::after {
    background-color: var(--color-redish);
}

.benefit-info p {
    margin-top: 30px;
    line-height: 22px;
}

.benefit-pic {
    position: relative;
}

.benefit-pic img {
    position: relative;
    z-index: 2;
}

.pic1 {
    margin-right: 117px;
    margin-bottom: 38px;
}

.pic1::before {
    content: "";
    width: 180px;
    height: 180px;
    background-color: var(--color-redish);
    position: absolute;
    display: block;
    border-radius: 40px;
    top: -40px;
    right: 0;
    transform: rotate(45deg);
}

.pic1 img {
    width: 386px;
    height: auto;
}

.benefit2 {
    flex-direction: row-reverse;
    padding: 0 20px 0 70px;
}
 
.pic2::before {
    content: "";
    width: 320px;
    height: 320px;
    background: var(--color-primary);
    position: absolute;
    display: block;
    border-radius: 50%;
    top: -20px;
    left: 0;
}

.pic2 img {
    width: 426px;
    height: auto;
}

.benefit2 .benefit-info::after {
    background-color: var(--color-primary);
}

.benefit3-and-4 {
    display: flex;
    margin-bottom: 0;
}

.benefit3 {
    width: 623px;
}

.benefit3 .benefit-info {
    margin: 70px 35px;
}

.benefit-pic3 {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-green);
    margin: 37px 0 37px 60px;
}

.benefit-pic3 img {
    width: 295px;
    height: auto;
    margin-top: 55px;
}

.benefit3 .benefit-info::after {
    background-color: var(--color-green);
}


/* styles Section Pricing */


.pricing .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.pricing-header {
    margin-top: 100px;
}

.pricing-single {
    width: 372px;
    border-radius: 18px;
    margin: 0 30px;
    text-align: center;
}

.pricing-basic {
    border: 1px solid var(--color-redish);
}

.pricing-professional {
    border: 1px solid var(--color-primary);
}

.pricing-premium {
    border: 1px solid var(--color-green);
}

.pricing-type {
    font-family: var(--font-headers);
    font-size: 20px;
    font-weight: 700;
    margin: 34px auto 14px;
    color: #13253B;
}
.pricing-cost {
    font-family: var(--font-paragraphs);
    font-size: 46px;
    font-weight: 300;
    margin-bottom: 5px;
}

.pricing-basic .pricing-cost {
    color: var(--color-redish);
    margin-bottom: 69px;
}

.pricing-professional .pricing-cost {
    color: var(--color-primary);
}

.pricing-premium .pricing-cost {
    color: var(--color-green);
}

.offer-time {
    font-family: var(--font-headers);
    font-size: 12px;
    font-weight: 700;
    color: #13253B;
    margin-bottom: 50px;
}

.pricing-details li {
    font-family: var(--font-paragraphs);
    font-size: 14px;
    line-height: 41px;
}
.pricing-details {
    margin-bottom: 60px;
}

.pricing-details .checked::before {
    content: "";
    width: 11px;
    height: 11px;
    background: url("../assets/Ckechmark-1.svg");
    display: inline-block;
    margin-right: 10px;
}
.not-checked::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background: url("../assets/Close.svg");
}

.pricing-single .btn {
    width: 150px;
    height: 50px;
    font-size: 13px;
    color: var(--color-white);
    font-family: var(--font-paragraphs);
    font-weight: 700;
    border-radius: 23px;
    padding: 16px 57px;
    position: relative;
    bottom: -10px;
}

.pricing-basic .btn {
    background: var(--color-redish);
}

.pricing-professional .btn {
    background: var(--color-primary);
    bottom: -40px;
}

.pricing-premium .btn {
    background: var(--color-green);
}

.pricing-professional {
    width: 405px;
    height: 500px;
    box-shadow: 5px 10px 27px var(--color-primary-shadow);
}


/* styles Section Contact */


.contact .container {
    margin-top: 155px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 896px;
}

.contact-info {
    /* margin-right: 114px; */

}

.contact-info p {
    margin-top: 22px;
    margin-bottom: 42px;
}

.contact-tools {
    display: flex;
    justify-content: space-between;
}
.e-mail,
.telephone {
    font-family: var(--font-paragraphs);
    font-size: 16px;
    color: var(--color-grey);
    margin-right: 20px;
}

.e-mail::before,
.telephone::before {
    content: "";
    width: 27px;
    height: 27px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 7px;
}

.e-mail::before {
    background: url("../assets/Mail\ Icon.svg");
}

.telephone::before {
    background: url("../assets/Phone\ Icon.svg");
}

.contact-form p {
    max-width: 405px;
    font-size: 12px;
    color: var(--color-grey);
    font-family: var(--font-paragraphs);
}
input[type="email"],
input[type="text"] {
    width: 439px;
    height: 58px;
    border: none;
    border-bottom: 1px solid var(--color-grey);
    margin-bottom: 30px;
}

input::placeholder {
    text-transform: uppercase;
    font-size: 11px;
    font-family: var(--font-paragraphs);
    color: var(--color-primary);
}

.checkbox input {
    opacity: 0;
    height: 0;
    width: 0;
    }

.checkbox {
    display: flex;
  }
   
  .checkbox span {
    height: 24px;
    width: 24px;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    box-sizing: border-box;
  }
  
  .checkbox input:checked + span {
    background: url("../assets/Checkmark-1.svg");
    background-position: center;
  }